body {
    background-color:#BDEAF1 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    height: 1000px;
    width: 100%;
   
}

.result {
   
    height: 150px;
    width: 490px;
    background-color:#1A1A28 ;
    color:antiquewhite;
    font-family: fantasy;
    text-align: end;
    vertical-align:text-bottom;
    font-weight: 4px;
    font-size: 50px;
    overflow-y: auto; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
   
}

.cal {
    height: 70px;
    width: 490px;
    background-color:#1A1A28 ;
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 6px;
    color:antiquewhite;
    font-family: fantasy;
    text-align: end;
    font-weight: 3px;
    font-size: 30px;

}
.butto {
    height: 550px;
    width: 490px;
    display: flex;
    flex-wrap: wrap;
    background-color:#1A1A28 ;
    box-sizing: border-box;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
.but {
    height: 400px;
    width: 336px;
    background-color:#1A1A28 ;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    

}
.column{
    height: 400px;
    width:112px;
    box-sizing: border-box;
    

}
.clear {
    height: 100px;
    width:112px;
    border-radius: 30px;
    margin-bottom: 2px;
    font-size: 20px;
    background-color:#50CADC;
    color:white;
    font-weight: 3px;
}
.plusormin{
    height: 100px;
    width:112px;
    border-radius: 30px;
    margin-bottom: 2px;
    font-size: 30px;
    background-color:#50CADC;
    color:white;
    font-weight: 3px;
}
.num{
    height: 100px;
    width:112px;
    border-radius: 30px;
    margin-bottom: 2px;
    font-size: 30px;
    color:white;
    font-weight: 3px;
    background-color: #1E2436;
}
.op {
    height: 100px;
    width:112px;
    border-radius: 30px;
    margin-bottom: 2px;
    font-size: 30px;
    background-color:#50CADC;
    color:white;
    font-weight: 3px;
}
.dot{
    height: 100px;
    width:112px;
    border-radius: 30px;
    margin-bottom: 2px;
    font-size: 30px;
    color:white;
    font-weight: 3px;
    background-color: #1E2436;
}
.equal{
    height: 100px;
    width:112px;
    border-radius: 30px;
    margin-bottom: 2px;
    font-size: 30px;
    background-color:#50CADC;
    color:white;
    font-weight: 3px;
   
}
#plus{
    height: 199px;
    width:112px;
    border-radius: 30px;
    margin-bottom: 2px;
    font-size: 30px;
    background-color:#50CADC;
    color:white;
    font-weight: 3px;
}